/* Hero */
.nordevo-hero {
}
.nordevo-hero__content {
}

.nordevo-hero__bg-img img {
}

.nordevo-about {
}

.nordevo-services {
    padding-block: calc(var(--size-4xl) * 2);
}

.nordevo-videos {
}

.nordevo-photos {
}

.nordevo-testimonials {
    padding-block: calc(var(--size-4xl) * 2);
}

.nordevo-contact {
}

.is-root-container.wp-block-post-content
    > *:not(.is-root-container.wp-block-post-content *:last-of-type) {
    margin-bottom: 8rem;
}
