/*
    Hero
*/
.nordevo-hero {
    position: relative;
    margin-top: -64px;
    padding-top: calc(var(--size-4xl) * 6);
    padding-bottom: calc(var(--size-4xl) * 4);
    padding-inline: var(--size-xl);
    box-shadow: inset 0 0 10rem 20rem #00000080;
}

.nordevo-hero__content {
    position: relative;
    z-index: 2;
}

.nordevo-hero__content p {
    font-size: var(--size-xl);
    font-weight: 500;
    line-height: 1.75;
}

.nordevo-hero__bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.33;
    min-height: 250px;
}

@media (max-width: 768px) {
    .nordevo-hero {
        padding-block: calc(var(--size-4xl) * 2);
    }
}

/*
    About
*/
.nordevo-about {
    .wp-block-image,
    img {
        margin: 0;
        height: 100%;
        object-fit: cover;
    }
}

/*
    Services
*/
.nordevo-services {
    padding-block: calc(var(--size-4xl) * 3);

    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: var(--size-md);
    }
    li {
        list-style: none;
        background-color: var(--wp--preset--color--nord-700);
        padding: var(--size-xs) var(--size-md);
    }
}

/*
    Videos
*/
.nordevo-videos {
}

/*
    Photos
*/
.nordevo-photos {
}

/*
    Testimonials
*/
.nordevo-testimonials {
    padding-block: calc(var(--size-4xl) * 3);
}

/*
    Contact
*/
.nordevo-contact {
    padding-block: calc(var(--size-4xl) * 3);
}
