.nordevo-hero {
    position: relative;

    margin-top: -57.6px;

    padding-block: calc(var(--size-4xl) * 4);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0.5;
    }

    .nordevo-hero__content {
        position: relative;
        z-index: 1;
    }
}

.nordevo-about {
}

.nordevo-services {
}

.nordevo-videos {
}

.nordevo-photos {
}

.nordevo-testimonials {
}

.nordevo-contact {
}
